a { 
  text-decoration: none;
  color: black;
 
 }


* {
  box-sizing: border-box;
}

.wrapper {
  width: 1500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;


}

header{
  border-bottom: 1px solid #eee;
}

header li{
  display: inline-block;
  vertical-align: top;
  position: relative;
}

header li a {
  display: block;
  padding: 10px;
}

header li a:hover {
  background-color: #FFED00;
  color: black;
}

header li:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  position: absolute;
}



.sub-menu li:hover a{
  background-color:  #FFED00;
  color: black;

}



.wrapper a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.wrapper a:hover:after {
  transform: scaleX(1);
}
