@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap");

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url("components/galery.css");
@import url("components/tiktok.css");
@import url("components/shop.css");
@import url("components/cadeau.css");

 
body {
	font-family: "Arial", serif;
	font-size: 20px;
	margin: 0px;
	line-height: 22px;

}

h1,h2 {
	font-family: 'Climate Crisis', cursive;
	letter-spacing: 1px;
	line-height: 1px ;
	font-weight: bold;
  margin-top: 20px;






}
h1 {
	color: #CA3C66;

}


h2 {
	color: #A7E0E0;

}



h3{
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
	line-height: 10px ;
	font-weight: bold;
	color: black;
}

h4{
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  line-height: 10px ;
  font-weight: bold;
  color: black;
}


a { 
	text-decoration: none;
	color: white;
 
 }


* {
	box-sizing: border-box;
}

.wrapper {
	width: 1500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;


}

header{
	border-bottom: 1px solid #eee;
}

header li{
	display: inline-block;
	vertical-align: top;
	position: relative;
}

header li a {
	display: block;
	padding: 7px;
}

header li a:hover {
	background-color: #DB6A8F;
	color: white;
}

header li:hover .sub-menu {
	display: block;
}

.sub-menu {
	display: none;
	top: 100%;
	left: 0;
	width: 100%;
	position: absolute;
  justify-content: flex-end;
}



.sub-menu li:hover a{
	background-color:  #DB6A8F;
	color: white;

}



.wrapper a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 3px;
	background-color: #DB6A8F;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.wrapper a:hover:after {
	transform: scaleX(1);
}

video {
  width: 20%;
  height: auto;
	border-radius: 10px;
	padding 50px;
  display: block;
  margin: 0 auto;
}
}




/* Styling pour le bouton de lancement des confettis */
#confetti-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* Styling pour le conteneur des confettis */
#confetti-container {
  position: relative;
  height: 0;
}


.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: #000000; /* Couleur initiale à remplacer */
  animation: confetti 2s ease-out forwards;
}

@keyframes confetti {
  to {
    transform: translateY(1000px);
  }
}


.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: -15px;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  width: 15px;
  height: 25px;
  background-color: red;
  border-radius: 15px 15px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  background-color: red;
  border-radius: 50%;
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

footer {
  background-color: #E0FCFC;
  color: #555;
  width: 100%;
}

footer h3 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 60px;
  color: black;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #CA3C66;
  font-size: 15px;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li:hover {
  color: #5783BA;
}

.footer-bottom {
  background-color: #E0FCFC;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: black;
}


.containere {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.chronometer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4AA3A2;
}

.chronometer span {
  display: inline-block;
  min-width: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 5px;
}


.love {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 0 0;
}




